.bundle/
*.sw?
slides.yaml
static/
last_run
corundum/
spec_support/tmp/
node_modules/
pkg/
coverage/
default-configuration/assets/javascript/rhet-present.*
javascript/tmp/
.sass-cache/
errors.err
.cadre
.template-cache/
perftools.*
